{% extends 'registration/base.html' %} {% block title %}
<title>login</title>
{% endblock %} {% block body %}
<div class="registration-wrapper">
  <div class="registration-container">
    <img
      src="{{ url_for('static',filename='img/registration.png') }}"
      class="registration-main-pic"
    />
    <img
      src="{{ url_for('static',filename='img/mobile-registration.png') }}"
      class="registration-mobile-pic"
    />
    <div class="registration-form-wrapper">
      <div class="registration-logo">
        <img
          src="{{ url_for('static',filename='img/plaudern-logo.png') }}"
          alt="logo"
        />
      </div>
      <form class="registration-form" method="post">
        <h1 class="registration-title">WELCOME BACK!</h1>
        <div>
          <label for="email-input">Email</label>
          <input
            type="text"
            placeholder="Email"
            name="email"
            id="email-input"
          />
        </div>
        <div>
          <label for="password-input">Password</label>
          <input
            type="password"
            placeholder="Password"
            name="password"
            id="password-input"
          />
        </div>
        <div class="registration-button-container">
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
          <button class="registration-button pink">LOGIN</button>
          <a class="switch-register-mode" href="{{ url_for('signup') }}">
            登録はこちら
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
