{% extends 'registration/registration-base.html' %} {% block title %}
<title>login</title>
{% endblock %} {% block body %}
<div class="registration-wrapper login">
  <div class="registration-main login-main">
    LOGIN
    <div class="half-circle green">
      <form class="registration-form" method="post">
        <h1 class="registration-title">LOG IN</h1>
        <input type="text" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button class="green">LOG IN</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
