{% extends 'registration/base.html' %} {% block title %}
<title>signup</title>
{% endblock %} {% block body %}
<div class="registration-wrapper signup">
  <div class="registration-main signup-main">
    SIGNUP
    <div class="half-circle pink">
      <form class="registration-form" method="post">
        <h1 class="registration-title">SIGN UP</h1>
        <input type="text" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Password Confirmation" />
        <button class="pink">SIGN UP</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
