{% extends 'registration/base.html' %}
{% block title %}
  <title>signup</title>
{% endblock %}
{% block body %}
  <div class="registration-wrapper signup">
    <div class="registration-main signup-main">
      SIGNUP
      <div class="half-circle pink">
        <form class="registration-form" method="post">
          <h1 class="registration-title">SIGN UP</h1>
          <input type="text" placeholder="Name" name="name" />
          <input type="text" placeholder="Email" name="email" />
          <input type="password" placeholder="Password" name="password1" />
          <input
            type="password"
            placeholder="Password Confirmation"
            name="password2"
          />
          <button class="pink">SIGN UP</button>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <a class="switch-register-mode" href="{{ url_for('login') }}">
          Already have an account?
          </a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
