.registration-wrapper.signup {
  background-color: var(--baby_pink);
}
.registration-wrapper.login {
  background-color: var(--tiffany_green);
}

.registration-main {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-size: cover;
  font-family: "Kanit", sans-serif;
  line-height: 1em;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: left;
  font-weight: 900;
  font-size: 100px;
  line-height: 1em;
  padding-top: 0.2em;
  padding-left: 0.1em;
}

.registration-main.signup-main {
  background-image: url("../img/brick-wall.jpg");
  color: var(--dark_pink);
}

.registration-main.login-main {
  background-image: url("../img/green.jpg");
}

.half-circle {
  width: 65vw;
  height: 130vh;
  position: absolute;
  top: -100px;
  right: 0;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  background-color: var(--snow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-circle.pink {
  box-shadow: 0 0 300px var(--dark_pink);
}

.half-circle.green {
  box-shadow: 0 0 300px var(--dark_green);
}

.registration-title {
  color: grey;
  font-size: 45px;
  margin-bottom: 0;
  margin: 0;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  min-width: 65%;
}

.registration-form input {
  border: none;
  outline: none;
  margin-bottom: 10px;
  line-height: 50px;
  width: 100%;
  padding-bottom: 1px;
}

.registration-form input:hover {
  padding-bottom: 0;
  border-bottom: 1px lightgrey solid;
}

.registration-form input:focus {
  padding-bottom: 0;
  border-bottom: 1px grey solid;
}

button {
  margin-right: 0;
}

.switch-register-mode {
  color: grey;
  line-height: 45px;
  font-size: smaller;
  padding-bottom: 1px;
}

.switch-register-mode:hover {
  color: var(--carbon);
  border-bottom: 1px solid var(--carbon);
  padding-bottom: 0;
}

.flashes {
  line-height: 40px;
  margin-top: 0;
  position: fixed;
  right: 40px;
  bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: red;
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .registration-main {
    font-size: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .registration-main {
    font-size: 150px;
  }
}
