.navigation {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 70px;
  background-image: url("../img/stripe-brick.jpg");
  background-size: cover;
  box-shadow: 10px 0 0 var(--carbon);
  overflow-x: hidden;
  transition: all 0.5s;
  box-sizing: border-box;
}

.navigation:hover {
  width: 300px;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  padding-left: 16px;
}

.navigation ul li {
  list-style: none;
  display: block;
  position: relative;
  width: 100%;
  border-radius: 15px;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.navigation ul li:hover {
  background-color: #20272c5e;
}

.navigation ul li.active {
  background-color: var(--carbon);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  color: var(--snow);
  font-weight: 800;
  width: 100%;
  display: flex;
}

.navigation ul li.active a::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px 15px 0 var(--carbon);
}
.navigation ul li.active a::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 60px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px -15px 0 var(--carbon);
}

.navigation ul li a .icon {
  display: block;
  min-width: 45px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.5em;
}

.navigation ul li a .title {
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

@media screen and (max-width: 639px) {
  .navigation {
    display: none;
  }

  .main-container {
    padding-left: 0;
  }
}
