<div id="delete-channel-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>本当に削除しますか？</h5>
      <img
        src="{{ url_for('static',filename='img/cat-on-bar.gif') }}"
        class="modal-gif"
      />
      <span class="modalClose" id="delete-page-close-btn">×</span>
    </div>
    <div class="modal-body">
      <p>削除ボタンを押すとチャンネルが消えます</p>
      <p>本当によろしいですか？</p>
      <a id="delete-confirm-link">
        <button id="delete-channel-confirmation-btn">削除</button>
      </a>
    </div>
  </div>
</div>
