{% extends 'base.html' %} {% block title %}
<title>chatroom</title>
{% endblock %} {% block body %}
<div class="main-container">
  <img
    src="{{ url_for('static',filename='img/cat-gif-unscreen.gif') }}"
    id="gif"
  />
  <div class="chat-box">
    <div class="chat-header">
      <p id="chatroom-name">mouseの会</p>
      <p id="chatroom-description">
        mouseと愉快な仲間たちが交流するためのチャンネルです
      </p>
    </div>
    <div class="message-area">
      <div><p class="box box-left">メッセージ1</p></div>
      <div><p class="box box-right">メッセージ2</p></div>
      <div><p class="box box-left">メッセージ3</p></div>
      <div><p class="box box-right">メッセージ4</p></div>
      <div><p class="box box-left">メッセージ5</p></div>
      <div><p class="box box-right">メッセージ6</p></div>
      <div><p class="box box-left">メッセージ7</p></div>
      <div><p class="box box-right">メッセージ8</p></div>
      <div><p class="box box-left">メッセージ9</p></div>
      <div>
        <p class="box box-left">
          メッセージ11メッセージ11メッセージ11メッセージ11メッセージ11メッセージ11メッセージ11メッセージ11
        </p>
      </div>
    </div>
    <div class="typing-box-wrapper">
      <form class="typing-box">
        <textarea name="message" id="message"></textarea>
      </form>
    </div>
  </div>
</div>
{% endblock %}
