<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>メッセージ投稿</title>
</head>
<body>
    
    <h3>サインアップ</h3>
    <form action="/signup" method="POST">
        <div>
        <label>
            名前
            <input type="text" name="name">
        </label>
        </div>
        <div>
        <label>
            email
            <input type="text" name="email">
        </label>
        </div>
        <div>
        <label>
            パスワード1
            <input type="text" name="password1">
        </label>
        </div>
        <div>
        <label>
            パスワード2
            <input type="text" name="password2">
        </label>
        </div>
        <button type="submit">送信</button>
    </form>
</body>
</html>