<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>メッセージ投稿</title>
</head>
<body>
    {% block content %}
    <h3>一覧</h3>
    <ul>
    {% for message in messages %}
        <li>{{ message.message}}</li>
    {% endfor %}
    </ul>
    {% endblock %}
    <h3>投稿</h3>
    <form action="/message" method="POST">
        <div>
        <label>
            投稿内容
            <input type="text" name="message">
        </label>
        </div>
        <button type="submit">送信</button>
    </form>
</body>
</html>