.chat-box {
  min-height: 100vh;
  width: 100%;
  background-color: var(--snow);
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8vh;
  right: 0;
  width: calc(100vw - 64px);
}

#chat-header {
  background-color: var(--navy_blue);
  color: var(--snow);
  height: 8vh;
  width: calc(100vw - 50px);
  position: fixed;
  top: 0;
  right: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 20px;
  z-index: 2;
}

#chatroom-name {
  font-size: larger;
}

#chatroom-description {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0.15em;
}

#channel-update {
  margin: auto 0;
  padding: 0.5em 1em;
  background-color: var(--salmon_pink);
  font-size: 12px;
  border-radius: 50%;
  z-index: 1;
}

#channel-update:hover {
  background-color: var(--middle_pink);
  cursor: pointer;
}

/* メッセージエリア */

#message-area {
  min-height: 100vh;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: calc(20vh + 10px);
  padding-left: 20px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.messages {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 8px;
  color: var(--wood);
}

.my-messages {
  display: flex;
}

.delete-message-btn {
  background-color: var(--snow);
  height: 40px;
  width: 40px;
  line-height: 47px;
  padding: 0;
  margin: 0;
  bottom: 8px;
  right: 8px;
}

.delete-message-btn ion-icon {
  font-size: 1rem;
}

.box {
  position: relative;
  width: 60%;
  margin: 0;
  padding: 0.7em 0 0.4em 1em;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.box-left {
  background-color: rgba(18, 37, 67, 0.2);
  color: var(--navy_blue);
}

.box-right {
  background-color: rgba(18, 37, 67, 0.4);
  color: var(--snow);
  margin-left: auto;
  margin-right: 10px;
}

.box-left:before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  content: "";
}

.box-right:before {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  content: "";
}

/* ========================================================== */

.typing-box-wrapper {
  position: fixed;
  bottom: 0;
  width: calc(100vw - 50px);
  height: 15vh;
  /* background-color: rgba(211, 211, 211, 0.75); */
  background-color: var(--snow);
  background-size: contain;
  border-top: 3px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: start;
}

.typing-box {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  height: 80%;
  width: 80%;
  margin: auto;
  position: relative;
  background-color: var(--snow);
  border-radius: 8px;
  border: solid 1px lightgrey;
}

.typing-box textarea {
  background-color: transparent;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 100%;
  padding: 0.5em;
  border-radius: 16px;
}

.typing-box textarea:focus {
  cursor: pointer;
}

#add-message-btn {
  position: absolute;
  background-color: var(--carbon);
  height: 40px;
  width: 40px;
  line-height: 47px;
  padding: 0;
  margin: 0;
  bottom: 8px;
  right: 8px;
}

#add-message-btn ion-icon {
  font-size: 1.3rem;
}

@media screen and (max-width: 550px) {
  #chatroom-description {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .chat-box {
    padding-left: 0;
    width: 100%;
  }

  .typing-box-wrapper,
  #chat-header {
    width: 100%;
  }
}

@media only screen and (min-width: 640px) {
  .box {
    width: 40%;
  }
}
