.registration-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navy_blue);
  font-family: "Abril Fatface", cursive;
  font-family: "League Spartan", sans-serif;
}

.registration-container {
  width: 95%;
  height: 95%;
  margin: auto;
  box-shadow: 0 6px 8px 0 rgb(123 123 123 / 60%);
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  background-color: var(--snow);
}

.registration-form-wrapper {
  width: 50%;
  flex-grow: 1;
  padding: 1rem 0 1rem 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-main-pic {
  height: 100%;
  border-radius: 0 10px 10px 0 / 0 10px 10px 0;
  /* border-left: solid 20px var(--navy_blue); */
}

.registration-logo {
  height: 80px;
  position: absolute;
  top: 0.5rem;
  left: 2rem;
}

.registration-logo > img {
  height: 100%;
  width: auto;
  border-left: solid 12px var(--navy_blue);
  padding-left: 10px;
}

.registration-logo > p {
  display: contents;
}

.registration-form {
  height: 70%;
  width: 100%;
  padding-top: 60px;
}

.register-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-title {
  color: var(--navy_blue);
  margin-bottom: 0;
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  z-index: 100;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 80%;
  width: 70%;
  margin: auto;
}

.registration-form.signup {
  padding-top: 40px;
}

.registration-form > div {
  width: 100%;
}

.registration-form input {
  border: solid 2px lightgrey;
  outline: none;
  margin-bottom: 10px;
  line-height: 32px;
  width: 100%;
  padding: 0.2rem 1rem;
}

.registration-form input::placeholder {
  color: lightgrey;
  font-size: small;
}

.registration-form input:focus {
  border: 2px var(--navy_blue) solid;
  background-color: var(--navy_blue);
  color: var(--snow);
}

label {
  font-size: small;
  color: var(--navy_blue);
}

button {
  width: 100%;
  margin-bottom: 12px;
}

.switch-register-mode {
  color: grey;
  line-height: 32px;
  font-size: small;
  padding: 0 20px 1px 20px;
}

.switch-register-mode:hover {
  color: var(--navy_blue);
  border-bottom: 1px solid lightgrey;
  padding-bottom: 0;
}

.flashes {
  line-height: 40px;
  margin-top: 0;
  position: fixed;
  right: 40px;
  bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: red;
}

#gif {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 20px;
}

@media screen and (max-width: 639px) {
  #gif {
    display: none;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .registration-main {
    font-size: 150px;
  }
  .registration-title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .registration-main {
    font-size: 150px;
  }
}

@media screen and (min-width: 1360px) {
  .registration-container {
    width: 70%;
  }
}
