/* 640px以上で表示されるサイドバーのCSS */

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 50px;
  background-color: var(--snow);
  overflow-x: hidden;
  box-shadow: 10px 0 0 var(--salmon_pink);
  transition: all 0.5s;
}

#navigation-logo-container {
  width: 100%;
  position: relative;
}

#navigation-logo {
  position: absolute;
  top: 24px;
  right: 4px;
}

.navigation:hover {
  width: 300px;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40vh;
  padding-left: 0px;
}

.navigation ul li {
  list-style: none;
  display: block;
  position: relative;
  width: 100%;
}

.navigation ul li:hover {
  background-color: #20272c5e;
}

.navigation ul li.active {
  background-color: var(--salmon_pink);
}
.navigation ul li.active > a {
  color: var(--snow);
}

.navigation ul li a {
  display: block;
  text-decoration: none;
  color: var(--navy_blue);
  font-weight: 800;
  width: 100%;
  display: flex;
}

.navigation ul li.active a::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px 15px 0 var(--salmon_pink);
}
.navigation ul li.active a::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 60px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px -15px 0 var(--salmon_pink);
}

.navigation ul li a .icon {
  display: block;
  min-width: 45px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.5em;
}

.navigation ul li a .title {
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

/* ========================================================== */
/* レスポンシブ */

@media screen and (max-width: 639px) {
  .navigation {
    display: none;
  }

  /* .main-container {
    padding-left: 0;
  } */
}
